.profile_pic img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.profile_details {
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
    border-bottom: 1px solid grey;
}

.numbers {
    display: flex;
    justify-content: space-between;
    width: 108%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 30%;
    margin-bottom: 15px;
    border: 1px solid black;
}

